fastapi
uvicorn
python-multipart
rank_bm25
langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-text-splitters
faiss-cpu
sentence-transformers
pytest
httpx
unstructured
python-dotenv
